<?xml version="1.0" encoding="utf-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd" >

    <bean name="iBeanPostProcessor" class="com.uycode.beanLifeTime.IBeanPostProcessor" />
    <bean name="person" class="com.uycode.beanLifeTime.Person"
          init-method="init" destroy-method="destroyMethod">
        <property name="no" value="123" />
        <property name="name" value="张三" />
    </bean>
</beans>